.moviesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    align-items: center;
}
.movieContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
