.mainCartContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem 12rem;
    align-items: stretch;
    justify-content: space-between;
    background-color: #0f0f0f;
}
.otherCartContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem 20rem;
    align-items: stretch;
    justify-content: space-between;
}
.spinnerContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
